h1 {
 color: orangered;
 text-align: center;
 margin-left: 30px;
} 
h2 { 
    color: green;
    margin-left: 30px;
} 
.p1
    {
        font-family: Arial;
      }


ul.a{
list-style-type:square;
font-size: 17px;
font-family: Arial; 
}


body {
    background-color: lightblue;
    border-style: double;
  }
  

  table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
